### To find the simple recommenders

In [1]:
# First impport pandas and numpy library
import pandas as pd
import numpy as np
#Read the movies meta data file

metadata=pd.read_csv('movies_metadata.csv',low_memory=False)
metadata.shape

(45466, 24)

In [2]:
metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

Find the mean vote average

In [3]:
C=metadata['vote_average'].mean()
print(C)

5.618207215133889

Calculate the minimum no of votes by setting the quantile as 80 percentile

In [4]:
m=metadata['vote_count'].quantile(0.90)
print(m)

160.0

Find out all qualified movies

In [5]:
q_movies=metadata.copy().loc[metadata['vote_count']>=m]
q_movies.shape

(4555, 24)

Now compute the function weighted rating of each movie

In [6]:
def weighed_rating(x,m=m,C=C):
    v=x['vote_count']
    R=x['vote_average']
    #calculate imd formula
    return (v/(v+m) *R)+(m/(m+v) * C)

In [7]:
'''A new feature score is added by weighed_rating func to sort the movi
es to recommend to the lay user'''
q_movies['score']=q_movies.apply(weighed_rating,axis=1)

In [8]:
q_movies.shape

(4555, 25)

In [9]:
# As you can see one extra column added
q_movies=q_movies.sort_values('score',ascending=False)

Finally to know the first ten recommened movies

In [10]:
q_movies['title'].head(10)

314         The Shawshank Redemption
834                    The Godfather
10309    Dilwale Dulhania Le Jayenge
12481                The Dark Knight
2843                      Fight Club
292                     Pulp Fiction
522                 Schindler's List
23673                       Whiplash
5481                   Spirited Away
2211               Life Is Beautiful
Name: title, dtype: object

In [11]:
#Lets check the scores 
q_movies[['title','score']].head(10)

                             title     score
314       The Shawshank Redemption  8.445869
834                  The Godfather  8.425439
10309  Dilwale Dulhania Le Jayenge  8.421453
12481              The Dark Knight  8.265477
2843                    Fight Club  8.256385
292                   Pulp Fiction  8.251406
522               Schindler's List  8.206639
23673                     Whiplash  8.205404
5481                 Spirited Away  8.196055
2211             Life Is Beautiful  8.187171